{% extends 'base.html'%}
{% block content %}
{% load static %}
<div class="container3">
    <div class="part1">
        <h3>Luxe</h3>
    </div>
    <div class="part2">
        <nav class="navbar navbar-expand-lg">
            <div class="container container-fluid">
              
                <div class="logo">
                  <a href="/">Home</a>
              </div>
              <div class="logo">
                <a href="#category">Category</a>
            </div>
            <div class="logo">
                <a href="#contact">contact</a>
            </div>
            <div class="reserve">
                <a href="/">Reservation</a>
            </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <i class="fa fa-bars"></i>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
               <ul class="navbar-nav nav-right" style="display: flex;">
                              {% if user.is_authenticated %}
                              <div>
                                  <li style="margin-top: 1.5vw;" class="nav-item text-center" id="try">
                                      <li><span class="nav-link text-dark"><a href="/profile" class="text-primary" ><strong>{{ user.username }}</strong><img class="rounded-circle nav-img"
                                          src="{{ user.profile.profile_photo.url}}"
                                          alt=""></a></span></li> 
                              </div>
                              <div>
                                  <li><span class="nav-link text-dark"><a href="/logout" class="text-primary"><br><strong>logout</strong></a></span></li>
                              </div>
                          
                                         
                              {% else %}
                              <a class="log" href="/accounts/login"
                                      style="color: color: #fbfcfc">Register/LogIn</a>
                              {% endif %}
                          </li>
                      </ul>
                    
                </div>
            </div>
          </nav>
          <div class="heading">
            <h6>Make Stunning Weddings, Receptions <br> and Bachelorettes.</h6>
            <p>The magnificence of a wedding is as good as the service providers who planned everything .Meet the best in the game</p>
          </div>

          <div class="social">
            <div >
                <a href="/"><span class="iconify" data-icon="eva:facebook-outline"style="color: white;font-size:2vw;"></span></a>
            </div>
            <div >
                <a href="/"><span class="iconify" data-icon="iconoir:twitter" style="color: white;font-size:2vw;"></span></a>
            </div>
            <div >
                <a href="/"><span class="iconify" data-icon="openmoji:instagram"style="font-size:2vw;"></span></a>
            </div>
          </div>
    </div>
</div>
<!-- ............................... -->
<div class="inspo">
    <div class="couple">
        <img src="https://res.cloudinary.com/jeddy/image/upload/v1655890719/pexels-avonne-stalling-3916019_1_dpzsaw.jpg" alt="">
    </div>
    <div class="wording">
        
    </div>
    <div class="empty">
        <h4 class="one">Get Inspired by popular wedding</h4>
        <p class="two">various unique decor ,styles that are trending</p>
        <a href="https://www.pinterest.com/showmeyourmumu/wedding-inspo/">See all inspiration<span class="iconify" data-icon="akar-icons:arrow-right" style="color: black;"></span></a>
    </div>
</div>
<div class="word">
    <h5>100+ wedding inspirations</h5>
    <hr>
    <p>lets look at the wedding themes that <br> you can choose to be your wedding <br> style which are astounding</p>
</div>
   <!-- ..................................... -->
   <div class="cards" id="category">
        <div class="card">
            <img src="https://res.cloudinary.com/jeddy/image/upload/v1655897415/moses-janga-vkgm1RBJb3c-unsplash_k2v6ia.jpg" alt="">
            <h5>Cake</h5>
            <hr>
            <p>Because every cake has a story to tell.</p>
           <a href="">View</a>
        </div>
        <div class="card">
            <img src="https://res.cloudinary.com/jeddy/image/upload/v1655895767/gown_dxuqkd.jpg" alt="">
            <h5>Gowns</h5>
            <hr>
            <p>If I could stay in a dressing gown all day I would.</p>
           <a href="">View</a>
        </div>
        <div class="card">
            <img src="https://res.cloudinary.com/jeddy/image/upload/v1655895780/decor3_ziciwp.jpg" alt="">
            <h5>Decor</h5>
            <hr>
            <p>Be faithful to your own taste, because nothing you really like is ever out of style</p>
           <a href="">View</a>
        </div>
        <div class="card">
            <img src="https://res.cloudinary.com/jeddy/image/upload/v1655895797/africa5_mexbcg.jpg" alt="">
            <h5>Catering</h5>
            <hr>
            <p>You don't need a silver fork to eat good food</p>
           <a href="">View</a>
        </div>
   </div>
   <div class="card5">
    <h5>Client Reviews</h5>
   <div class="cards1">
    <div class="person1">
        <img src="https://res.cloudinary.com/jeddy/image/upload/v1655920165/marcus-lewis-9IJtWMAow0Y-unsplash_vqvlzq.jpg" alt="lady">
       
    </div>
    <div class="person2">
        <p>I got married on 8/31/2020 at paradise lost.
            This was the place to get our wedding vendors. We had our ceremony in the outside <br> terrace area where there was a beautiful fountain, and our reception was in one of their serene locations. <br>
            Some even said it was the best wedding they’ve been to! <br>
            Just want to say a big thank you to Luxe for making our wedding perfect. <br> Definitely recommend to check out Luxe for weddings 
             <br> -Aggy 
            </p>
        <p>&#x2B50;&#x2B50;&#x2B50;&#x2B50;	</p>
    </div>
 

</div>
</div>
<!-- <div class="gallery">
    <h4>Gallery</h4>
    <div class="images">
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>
        <div class="image"></div>

    </div>
</div> -->
<div class="footer">
   <div class="contact-info" id="contact">
            <div >
               
                <p style="padding-right: 1vw"> <span class="iconify" data-icon="bx:phone-call" style="color: #034147;"></span></p>
                <P>123–456–7890</P>
            </div>
            <div>
                <p style="padding-right: 1vw"><span class="iconify" data-icon="eva:email-fill" style="color: #034147;"></span></p>
                
                <p>jayjay@gmail.com</p>
            </div>
    </div>
    
   
</div>
<div class="copy">
    &copy 2021 by Jay
</div>
{% endblock %}