<nav class="navbar  navbar-expand-lg" id="navbar2">
  <div  style="color: white;"class="container container-fluid">
    
      <div class="logo">
        <a style="color: white;text-decoration: none;" href="/">Home</a>
    </div>
    <div class="logo">
      <a style="color: white;text-decoration: none;" href="{%url 'gallery' %}">Vendors</a>
  </div>
  <div class="logo">
      <a style="color: white;text-decoration: none;"  href="#contact">contact</a>
  </div>
  <div class="logo">
      <a style="color: white;text-decoration: none;" href="/">Appointments</a>
  </div>
  <ul class="navbar-nav mr-auto">
            
           
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          style="color: white;"  aria-haspopup="true" aria-expanded="false">
            Location
        </a>
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for  location in locations %}
            <a class="dropdown-item" href="{% url 'get_location' location.id %}">{{location.name}}</a>
            {%endfor%} 
        </div>
    </li>
</ul>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <!-- search input -->
        <form action="{% url 'search_project' %}" class="mt-5" >
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search ..." aria-label="Search for..."
                    aria-describedby="basic-addon2" name="search_term">
                <div class="input-group-append">
                    <button style="color: white;" class="btn" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-1"></div>
</div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <i class="fa fa-bars"></i>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
     <ul class="navbar-nav nav-right" style="display: flex;">
                    {% if user.is_authenticated %}
                    <div>
                        <li style="margin-top: 1.5vw;" class="nav-item text-center" id="try">
                            <li ><span class="nav-link text-dark"><a style="color: white;text-decoration: none;" href="/profile" class="text-primary"> {{ user.username }}</a></span></li> 
                    </div>
                    <div>
                        <li><span class="nav-link text-dark"><a style="color: white;text-decoration: none;" href="/logout" class="text-primary"><br><strong>logout</strong></a></span></li>
                    </div>
                
                               
                    {% else %}
                    <a class="log" href="/accounts/login"
                    style="color: white;text-decoration: none;">Register/LogIn</a>
                    {% endif %}
                </li>
            </ul>
          
      </div>
  </div>
</nav>