{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}

{% block content%}
<div class="back" style="background-image:url({{ photo.image2.url }});"  >
    <div class="m-5" >
        <div class="container" >
            <div id="aboutus">
                <div class="story">
                    <div class="img">
                        <img src="{{ photo.image4.url}}"  alt="">
                    </div>
                    <div class="description">
                        <span>About us</span>
                        <p style="padding-top:1vw ;">{{photo.description}}</p>
                    </div>
                </div>
            </div>
           
                <div  class="part5">
                
                    <img  src="{{photo.image.url}}" alt="">
                    <img  src="{{photo.image2.url}}" alt="">
                    <img  src="{{photo.image3.url}}" alt="">
                    <img  src="{{photo.image5.url}}" alt="">
                    <img  src="{{photo.image6.url}}" alt="">
                    <img  src="{{photo.image7.url}}" alt="">
                
                </div>
            
            
        </div>
        </div>
  
  </div>
  
  
{% endblock%}
